.row.unlimited-items {
  flex-wrap: wrap;
}

.row.unlimited-items .col{
  flex: none;
  width: 50%;
}

.has-header {
    top: 120px;


}
.bar {
    height: 120px;

}
.bar-header .title {
   /* margin-top: 10px;*/

    height: 120px;
    line-height: 120px;
}

.title{
   valign:middle;
   margin-top:20px !important;
}
