.row.unlimited-items {
  flex-wrap: wrap;
}

.row.unlimited-items .col{
  flex: none;
  width: 50%;
}

/**
.has-header {
    top: 120px;



}
.bar {
    height: 120px;
  background-color:#005890 !important;

}
.bar-header .title {


    height: 120px;

    line-height: 120px;
}
**/
.title{
   valign:middle;
   text-align:right !important;
   margin-top:20px !important;
}

#tipwrap {display:block;bottom:0px;right:1px!important;right:18px; line-height:30px;position:fixed;text-align:center;z-index:99999}
